@model List<Animal>

<div class="container">

    <div class="row pt-4 pb-3">

        <div class="col-8">

            <h2 class="text-primary animal-header">
                Animals Looking For A Forever Home
            </h2>

        </div>

        <div class="col-4 text-end">

            <a asp-controller="Animal" 
                    asp-action="Create" 
                    class="btn btn-primary"
            >

                <i class="bi bi-plus-circle"> Add Animal</i>

            </a>

        </div>

    </div>




    <table class="table table-bordered table-striped">

        <thead>

            <tr>

                <th>
                    Name
                </th>

                <th>
                    Age
                </th>

                <th>
                    Species
                </th>

                <th>
                    Breed
                </th>

                <th>
                    Sex
                </th>

                <th>
                    Adoption Status
                </th>
            
                <th>
                    Photo
                </th>

            </tr>

        </thead>

        <tbody>

            @foreach(var obj in Model.OrderBy(u=>u.AdoptionStatus))
            {

                <tr>

                    <td>
                        @obj.Name
                    </td>
                
                    <td>
                        @obj.Age
                    </td>
                
                    <td>
                        @obj.Species
                    </td>
                
                    <td>
                        @obj.Breed
                    </td>

                    <td>
                        @obj.Sex
                    </td>

                    <td>
                        @obj.AdoptionStatus
                    </td>

                    <td>
                        <img src="@obj.PhotoUrl" 
                            width="80px" 
                            height="120px"/
                        >
                    </td>

                </tr>

            }

        </tbody>

    </table>

</div>