@model List<Product>

<div class="card shadow border-0 pb-3 card-margin">

    <div class="card-header bg-primary bg-gradient ml-0 py-3">

        <div class="row">

            <div class="col-8">

                <h2 class="text-white px-4">Available Products</h2>

            </div>

            <div class="col-4 text-end px-4">

                <a asp-controller="Product"
                   asp-action="Create"
                   class="btn border btn-outline-secondary text-white">
                    <i class="bi bi-plus-circle"> Add Product</i>
                </a>

            </div>

        </div>

    </div>

    <div class="card-body">
        <table class="table table-bordered border-easy">

            <thead>

                <tr>

                    <th class="col-3">
                        Brand
                    </th>

                    <th class="col-1">
                        Type
                    </th>

                    <th class="col-1">
                        Description
                    </th>

                    <th class="col-2">
                        Quantity Available
                    </th>

                    <th class="col-3">
                        Photo
                    </th>
                    <th>
                        <i class="bi bi-pencil-square"></i> / <i class="bi bi-trash"></i>
                    </th>

                </tr>

            </thead>

            <tbody>

                @foreach (var obj in Model.OrderBy(u => u.Type))
                {

                    <tr>

                        <td>
                            @obj.Brand
                        </td>

                        <td>
                            @obj.Type
                        </td>

                        <td>
                            @obj.Description.Substring(0, obj.Description.IndexOf("."))
                        </td>

                        <td>
                            @obj.AvailableQuantity Lbs
                        </td>

                        <td>
                            <img src="@obj.PhotoUrl"
                                 width="80px"
                                 height="120px"
                                 class="rounded" />
                        </td>

                        <td>

                            <div class="w-75 btn-group-md" role="group">

                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary edit-btn">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>

                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger my-1">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>

                            </div>

                        </td>

                    </tr>

                }

            </tbody>

        </table>

    </div>

